@model IEnumerable<Proyecto_final_prowebII.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>PRODUCTO</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AñoModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AñoModelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.ProductoId">Editar</a> |
                    <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.ProductoId">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-warning btn-sm" asp-route-id="@item.ProductoId">Eliminar</a>
                    <a asp-action="GeneratePdf" class="btn btn-outline-info btn-sm" asp-route-id="@item.ProductoId">Detalle PDF</a>
            </td>
        </tr>
}
    </tbody>
</table>
