@model Proyecto_final_prowebII.Models.ItemPedido

@{
    ViewData["Title"] = "Delete";
}

<h1>ELIMINAR</h1>

<h3>Estas seguro de que quieres eliminar?</h3>
<div>
    <h4>ItemPedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descuento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pedido.PedidoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemPedidoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
