@model IEnumerable<Proyecto_final_prowebII.Models.ItemPedido>

@{
    ViewData["Title"] = "Index";
}

<h1>ITEM DE PEDIDOS</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descuento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descuento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pedido.PedidoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.NombreProducto)
            </td>
            <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.ItemPedidoId">Editar</a> |
                    <a asp-action="Details" class="btn btn-success btn-sm" asp-route-id="@item.ItemPedidoId">Detalles</a> |
                    <a asp-action="Delete" class="btn btn-warning btn-sm" asp-route-id="@item.ItemPedidoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
